// Place all the styles related to the Terrains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.terrains-container {
  margin: 10px 10px;
  height: 600px;
  width: 970px;
  display: inline-block;
  position: relative;
}

.field-title {
  text-align: center;
}

.terrain-container {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: bottom;
}

.meet-marker {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 5px;
  margin-left: 5px;
}

.water {
  background-color: blue;
}

.wood {
  background-color: green;
}

.mountain {
  background-color: gray;
}

.terrain-difficult {
}

.terrain-number {
  margin-top: 20px;
  text-align: right;
}

.info-board-container {
  margin: 10px 10px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background: antiquewhite;
}

.board-container {
  display: flex;
}

.chosen-field-container {
  margin: 5px 5px;
  position: relative;
}

.hex {
  width: 58px;
  height: 100px;
  display: inline-block;
  position: absolute;
}

.hexagon {
  position: absolute;
  display: block;
  font-size: 10px;
}

.hex1 {

}

.hex2 {
  transform: rotate(60deg);
}

.hex3 {
  transform: rotate(-60deg);
}

.info-terrain-container {
  width: 150px;
  height: 100px;
  margin: 10px;
  position: relative;
}
