// Place all the styles related to the Terrains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.terrains-container {
  margin: 10px 10px;
  height: 600px;
  width: 900px;
  display: inline-block;
}

.field-title {
  text-align: center;
}

.terrain-container {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: bottom;
}

.meet-marker {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 5px;
  margin-left: 5px;
}

.water {
  background-color: blue;
}

.wood {
  background-color: green;
}

.mountain {
  background-color: gray;
}

.terrain-difficult {
}

.terrain-number {
  margin-top: 20px;
  text-align: right;
}

.info-board-container {
  margin: 10px 10px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background: antiquewhite;
}

.board-container {
  display: flex;
}

.chosen-field-container {
  margin: 5px 5px;
}
